/* App.css */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .flashcard {
    width: 45%;
    height: 340px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    background-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flashcard.flipped {
    transform: rotateY(180deg);
  }
  
  .front {
    width: 45%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .back {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .front {
    background-color: #ccc;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #ccc;
    color: #000;
    text-align: center; /* Center-align text */
    padding: 10px; /* Add padding for spacing */
  }
  
  .back div {
    font-weight: bold; /* Make the text bold */
    text-decoration: underline; /* Underline the text */
  }